@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');

:root {
    --bg-color: #111111;
    --soteria-blue: #20719b;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 1100px;
    height: 100%;
    border: white 2px solid;
    font-family: "Geist", sans-serif;
    font-optical-sizing: auto;
    background-color: var(--bg-color);
    color: var(--soteria-blue);
    margin: 0;
    padding: 0;
    text-align: center;
    line-height: 80%;
}

main {
    margin: auto;
    padding: 0.5rem;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    margin-top: 5vh;
    font-size: xxx-large;
}

#success {
    color: limegreen;
}

#failure {
    color: red;
}

#floorplan-container {
    display: flex;
    justify-content: center;
    position: relative;
    height: 75vh;
    vertical-align: center;
    line-height: 80vh;
}

#floorplan {
    border: 1px solid red;
    align-items: center;
    height: 90%;
    width: 100%;

}

.overlay {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
}